.register-tab {
    width: 100%;
    height: 100px;
    // left: 0px;
    --background: #f1faee;
    // border: 1px solid #000000;
    // box-sizing: border-box;
  }
  
  .tab-text {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    color: #002a32;
  }
  
  .participate{
    text-align: center;
    margin:10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: underline;
    color: #353535;
  }
  
  .return{
    color: #B33F62;
  }