<ion-toolbar>
    <div class="tl-icon">
        <h4 routerLink = "/org-register">Register</h4>
    </div>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">
    <div class="image-logo">
        <img src="../../assets/icon/volunteer 1.jpg">
    </div>

    <div class="text-logo">
        <h1>Arete</h1>
    </div>

    <div class="Org">
        Organization Login
    </div>

    <div class="orgNameInput">
        <ion-input type="text" placeholder="Username"></ion-input>
    </div>
    <div class="emailInput">
        <ion-input type="email" placeholder="Email"></ion-input>
    </div>
    <div class="password">
        <ion-input type="Password" placeholder="Password"></ion-input>
    </div>
    <ion-button class="loginButton">
        Login
    </ion-button>

    <p class="userPage" routerLink = "/user-login">
        User?
    </p>
</ion-content>