<ion-toolbar>
    <div class="text-logo">
        <h1>ARETE</h1>
    </div>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <div class="image-logo">
        <img src="../../assets/icon/volunteer 1.jpg">
    </div>
    <div class="choiceDisplay">
        User or Organization?
    </div>
    <ion-button class="userButton">
        User
    </ion-button>
    <ion-button class="orgButton">
        Organization
    </ion-button>
</ion-content>