.text-logo {
  // text-align: right;
  float: right;
  display: block;
  // width: 96px;
  // height: 36.95px;
  // left: 277.01px;
  // top: 26px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  color: #FC9F5B;
  // margin-right: 3%;
  transform: rotate(0.01deg);
  color: FC9F5B;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.image-logo img {
  position: absolute;
  width: 316px;
  height: 274px;
  left: 23px;
  top: 63px;
  border-radius: 137px;
  border-left: 10%;
}

.choiceDisplay {
  position: absolute;
  width: 200px;
  height: 31px;
  left: 105px;
  top: 406px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
}

.userButton {
  position: absolute;
  width: 158px;
  height: 67px;
  left: 26px;
  top: 437px;
  --background: #FC9F5B;
  border-radius: 20px;
}

.orgButton {
  // position: absolute;
  // width: 43%;
  // height: 9.5%;
  // left: 50%;
  // top: 437px;
  // --background: #000;
  // border-radius: 5%;

  margin-top: 100%;
  margin-right: 5%;
  float: right;
  width: 43%;
  height: 8.9%;
  // left: 26px;
  --background: #000;
  border-radius: 5%;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}