<ion-header>
    <ion-toolbar class="register-tab">
        <!--<ion-title size = "large">Register</ion-title> -->
        <p class = "tab-text">Register</p>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="input-container">
        <div class="fname">
            <ion-input type="text" placeholder="First Name"></ion-input>
        </div>
        <div class="lname">
            <ion-input type="text" placeholder="Last Namee"></ion-input>
        </div>
        <div class="dob">
            <ion-input type="date" placeholder="Date of Birth "></ion-input>
        </div>
        <div class="email">
            <ion-input type="email" placeholder="Email"></ion-input>
        </div>
        <div class="phoneNum">
            <ion-input type="telephone" placeholder="Phone Number"></ion-input>>
        </div>
        <div class="occupation">
            <ion-input type="text" placeholder="Occupation"></ion-input>
        </div>
        <div class="pass1">
            <ion-input type="password" placeholder="Firstname"></ion-input>
        </div>
        <div class="pass2">
            <ion-input type="password" placeholder="Firstname"></ion-input>
        </div>
        <div class="describe">
            <ion-input type="text" placeholder="Firstname"></ion-input>
        </div>
    </div>

    <h1 class = "submit"> Submit</h1>

    <h4 class = "submit return">Back</h4>
</ion-content>