<ion-header>
    <ion-toolbar class="register-tab">
        <p class = "tab-text">Approvals</p>
    </ion-toolbar>
</ion-header>

<ion-content>



<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class = "unSelectedTab" routerLink="/user-events/{{username}}">
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "unSelectedTab" routerLink="/user-requests/{{username}}">
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "SelectedTab" selected = true routerLink="/user-approvals/{{username}}">
      <ion-label>Approvals</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "unSelectedTab" routerLink="/user-profile/{{username}}">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>

