<ion-header>
    <ion-toolbar class="register-tab">
        <ion-title class = "tab-text">Register</ion-title>
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-container">
        <div class="orgName">
            <ion-input type="text" placeholder="Organization Name"></ion-input>
        </div>
        <div class="phoneNum">
            <ion-input type="telephone" placeholder="Phone Number"></ion-input>>
        </div>
        <div class="address">
            <ion-input type="address" placeholder="Address "></ion-input>
        </div>
        <div class="Emai">
            <ion-input type="email" placeholder="Email"></ion-input>
        </div>
        <div class="PostAddress">
            <ion-input type="text" placeholder="Postal Address"></ion-input>
        </div>
        <div class="occupation">
            <ion-input type="text" placeholder="Occupation"></ion-input>
        </div>
        <div class="webLink">
            <ion-input type="url" placeholder="Link to Website/Info"></ion-input>
        </div>
        <div class="pass1">
            <ion-input type="password" placeholder="Firstname"></ion-input>
        </div>
        <div class="pass2">
            <ion-input type="password" placeholder="Firstname"></ion-input>
        </div>
    </div>
</ion-content>
