<ion-header>
    <ion-toolbar class="register-tab">
        <ion-title class = "tab-text">Register</ion-title>
        <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-container">
        <div class="fname">
            <ion-input type="text" placeholder="First Name"></ion-input>
        </div>
        <div class="lname">
            <ion-input type="text" placeholder="Last Namee"></ion-input>
        </div>
        <div class="dob">
            <ion-input type="date" placeholder="Date of Birth "></ion-input>
        </div>
        <div class="email">
            <ion-input type="email" placeholder="Email"></ion-input>
        </div>
        <div class="phoneNum">
            <ion-input type="telephone" placeholder="Phone Number"></ion-input>>
        </div>
        <div class="occupation">
            <ion-input type="text" placeholder="Occupation"></ion-input>
        </div>
        <div class="pass1">
            <ion-input type="password" placeholder="Firstname"></ion-input>
        </div>
        <div class="pass2">
            <ion-input type="password" placeholder="Firstname"></ion-input>
        </div>
        <div class="describe">
            <ion-input type="text" placeholder="Firstname"></ion-input>
        </div>
    </div>
</ion-content>
