<ion-header>
  <ion-toolbar class="register-tab">
    <p class="tab-text">Register</p>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-container">
    <div class="orgName">
      <ion-input
        type="text"
        placeholder="Organization Name"
        required
      ></ion-input>
    </div>
    <div class="phoneNum">
      <ion-input
        type="telephone"
        placeholder="Phone Number"
        required
      ></ion-input
      >>
    </div>
    <div class="address">
      <ion-input type="address" placeholder="Address" required></ion-input>
    </div>
    <div class="Emai">
      <ion-input type="email" placeholder="Email" required></ion-input>
    </div>
    <div class="PostAddress">
      <ion-input type="text" placeholder="Postal Address" required></ion-input>
    </div>
    <div class="occupation">
      <ion-input type="text" placeholder="Occupation" required></ion-input>
    </div>
    <div class="webLink">
      <ion-input
        type="url"
        placeholder="Link to Website/Info"
        required
      ></ion-input>
    </div>
    <div class="pass1">
      <ion-input type="password" placeholder="Firstname" required></ion-input>
    </div>
    <div class="pass2">
      <ion-input type="password" placeholder="Firstname" required></ion-input>
    </div>
  </div>

  <h1 class="submit">Submit</h1>

  <h4 class="submit return" routerLink = "/org-login">Back</h4>
</ion-content>
