<ion-header>
    <ion-toolbar class="register-tab">
        <p class = "tab-text">Profile</p>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class = "unSelectedTab" routerLink="/user-events">
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "unSelectedTab" routerLink="/user-requests">
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "unSelectedTab" routerLink="/user-approvals">
      <ion-label>Approvals</ion-label>
    </ion-tab-button>

    <ion-tab-button class = "SelectedTab" selected = true routerLink="/user-profile">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>


</ion-content>
